.container {
  width: 98%;
  
  .heading {
    z-index: 10;
    background: white;
    width: auto;
    font-size: 1rem;
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    .heading1{
      width: 3rem;
    }
  }

  .comparison-wrapper {
    padding: 7px 10px, 30px, 10px;
    border: 3px solid rgb(12, 11, 11);
    .result {
      display: flex;

      p {
        font-size: 1rem;
      }
      .value {
        float: left;
      }
    }

    .results-wrapper {
      border: 3px solid rgb(12, 11, 11);
    }

    .button {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }

    .content-wrapper {
      margin-top: 30%;
    }
  }
}

.main-card {
  align-content: center;
  outline-color: black;
  outline-style: solid;
  .files-card {
    display: flex;

    margin-left: 15%;
    padding: 0 15px;
    .label-wrapper {
      padding-top: 2.3em;
      .label {
        font-size: 1rem;
        color: black;
        align-self: baseline;
      }
    }

    .file-btn {
      margin-left: 1em;
    }
    .file-field {
      display: flex;
    }

    .submit-button {
      margin-left: 2rem;
    }
  }
  .unmatched-results {
    display: flex;
    max-width: 98%;
  }
}

.row {
  margin-bottom: 10px;
}
.card-content {
  padding: 10px;
}

.table-container {
  
  td {
    cursor: pointer;
  }
  
}

.no-right-border {
  border-right: none !important;
}

.close-matches{
  background: rgba(0, 0, 0, 0.4);
}

.date-column{
  // white-space: nowrap;
  overflow: hidden;
}

.border{
  border: 1px solid rgba(0, 0, 0, 0.2);
 
}
.border-right{
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.tip{
  margin-left: 35%;
  margin-top: 3px;
}